apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-participantes
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ms-participantes
  template:
    metadata:
      labels:
        app: ms-participantes
    spec:
      containers:
      - name: ms-participantes
        image: rtineoregistry/ms-participantes:2.0
        args:
        - "--spring.config.additional-location=file:/config/application.yml"
        ports:
        - containerPort: 9091
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 9091
          initialDelaySeconds: 30
          periodSeconds: 15
          timeoutSeconds: 3
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 9091
          initialDelaySeconds: 15
          periodSeconds: 10
          timeoutSeconds: 3
        env:
        - name: DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: DB_USERNAME
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: DB_PASSWORD
        resources:
          requests:
            cpu: "200m"
            memory: "200Mi"
          limits:
            cpu: "300m"
            memory: "300Mi"
        volumeMounts:
          - name: config-volume
            mountPath: /config/application.yml
            subPath: application.yml
      volumes:
      - name: config-volume
        configMap:
          name: ms-participantes-config
          items:
            - key: application.yml
              path: application.yml
              
              
